# little unusual to have a requirements.txt in the .circleci
# directory of a repo ... this pattern was used so:
# 1/ requires.io could make sure codecov version is tracked
# 2/ dependancy caching in circleci had something to generate a key
codecov==2.1.8
